/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
  }
  
  /*all for header and nav*/
  header {
    font-size: 18px;
    background-color: #fff;
    padding: 10px;
    margin: 20;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header li {
    list-style-type: none;
    display: inline;
  }
  
  nav a {
    color: #6b7280;
    padding: 14px 10px;
  }
  
  a:link {
    text-decoration: none;
  }
  
  nav a:hover {
    color: #5a67d8;
  }
  
  /*overview container*/
  .overview-hero .container {
    background-color: #e2e8f0;
    padding: 30px 80px;
    display: flex;
    align-items: center;
  }
  
  .overview-hero-image img {
    border-radius: 500px;
    align-self: flex-start;
    margin: 20px 30px 0 0;
    object-fit: cover;
  }
  
  .overview-hero-text {
    padding-left: 50px;
    flex: 1 1 auto;
  }
  
  /*learn about here*/
  /*this is def with grid, 3 coloums, 1 row apply to cards*/
  
  .learn-about .cards {
    display: grid;
    grid-template-columns: 320px 320px 320px;
  }
  
  .cards .card {
    border: 2px outset;
    width: 300px;
    margin: 40px;
    border-color: #e2e8f0;
    box-shadow: #e2e8f0;
    border-radius: 5px;
  }
  
  .card img {
    margin: 0 auto;
  }
  
  .cards p,
  .cards h3 {
    text-align: left;
    padding: 10px;
  }
  
  .learn-about h2,
  .learn-about h3 {
    color: #48bb78;
    font-size: 21px;
  }
  
  .learn-about h2 {
    font-size: 24px;
  }
  
  /*testing*/
  .testing .container {
    background-color: #4a5568;
    color: #fff;
    padding: 80px;
    display: flex;
    align-items: center;
  }
  
  .testing .container .cta {
    background-color: #48bb78;
    border-style: none;
    border-radius: 5px;
    padding: 14px 1px;
    margin: 0px 3px;
    width: 50%;
    text-align: center;
  }
  
  .testing .container .cta a {
    color: #fff;
  }
  
  /*Recent stories section*/
  
  .stories article {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .stories .article-body {
    padding-left: 20px;
  }
  
  .stories h2,
  .stories a {
    color: #5a67d8;
  }
  
  .stories img {
    border-radius: 100px;
    object-fit: cover;
  }
  
  /*Sign up for news letter*/
  
  .newsletter .container {
    display: flex;
    background-color: #48bb78;
    color: #fff;
    flex-direction: column;
    align-items: center;
    padding: 80px;
  }
  
  .form-group {
    display: inline-flex;
    align-items: center;
  }
  
  form button {
    background-color: #5a67d8;
    border-style: none;
    border-radius: 5px;
    padding: 15px 20px;
    color: #fff;
  }
  
  input {
    border-style: none;
    border-radius: 5px;
    padding: 15px;
  }
  
  .newsletter .container p {
    width: 54%;
  }
  
  /*Footer*/
  footer .container {
    background-color: #4a5568;
    padding: 10px 80px;
    color: #fff;
  }
  
  /*Message for email thank you or error*/
  .message {
    color: #fff;
    font-style: italic;
    padding-top: 20px;
  }
  